<template>
  <div>
    <label class="font-bold">Check-list</label>
    <VuePerfectScrollbar
      class="scroll-area--data-list-add-new scroll-container"
      :settings="settings"
      :key="$vs.rtl"
      ref="formPS"
    >
      <div class="checklist-container">
        <div v-if="checkListLocal.length > 0">
          <div
            v-for="(subTask, index) in checkListLocal"
            :key="'sub-task-' + index"
          >
            <div class="mt-5 w-full flex justify-between">
              <vs-checkbox
                :disabled="selected && selected.id == subTask.id"
                :vs-value="subTask.id"
                v-model="doneSubTask"
              >
                <!-- class="vs-input-no-border vs-input-no-shdow-focus w-full
                        border border-solid border-grey border-t-0 border-r-0
                        border-l-0 " -->

                <vs-input
                  v-if="selected && selected.id == subTask.id"
                  icon-no-border
                  class="w-full"
                  v-model="selected.name"
                  v-on:keyup.native.enter="
                    onEnterEditSubTask($event.target.value)
                  "
                />
                <div v-else>{{ subTask.name }}</div>
              </vs-checkbox>

              <div v-if="activeManageTool" class="flex items-center">
                <vs-button
                  v-if="selected && selected.id == subTask.id"
                  radius
                  type="flat"
                  color="dark"
                  icon-pack="feather"
                  icon="icon-x"
                  size="small"
                  @click.stop="selected = null"
                />
                <vs-button
                  radius
                  type="flat"
                  color="primary"
                  icon-pack="feather"
                  icon="icon-edit"
                  size="small"
                  @click.stop="selected = subTask"
                />
                <vs-button
                  radius
                  type="flat"
                  color="danger"
                  icon-pack="feather"
                  icon="icon-trash-2"
                  size="small"
                  @click="onClickDeleteSubTask(subTask)"
                />
              </div>
            </div>
          </div>
        </div>
        <div v-else class="text-center py-2">
          <img
            src="@/assets/images/elements/empty-folder.png"
            alt="graphic-404"
            class="mx-auto mb-4 w-1/6 opacity-50"
          />
          <div>
            Chưa có check-list nào.
          </div>
        </div>
      </div>
    </VuePerfectScrollbar>
    <div class="vx-row mt-5">
      <div class="vx-col mr-auto flex">
        <feather-icon
          icon="PlusIcon"
          :svgClasses="['stoke-current text-primary']"
          class="pr-4"
        />
        <div>
          <p class="text-primary font-bold mt-1 cursor-pointer" />
          <div v-if="activeAddNewForm" class="flex items-center">
            <!-- <vs-button
                      @click.stop="onClickAddNewSubTask"
                      radius
                      icon-pack="feather"
                      icon="icon-send"
                      size="small"
                      class="ml-2"
                    ></vs-button>-->
            <vs-input
              v-validate="'required'"
              name="title"
              class="w-full mb-4 mt-5"
              v-on:keyup.native.enter="
                onClickAddNewSubTask($event.target.value)
              "
            />

            <vs-button
              @click.stop="activeAddNewForm = false"
              radius
              color="danger"
              type="gradient"
              icon-pack="feather"
              icon="icon-x"
              size="small"
              class="ml-2"
            ></vs-button>
          </div>
          <div v-else @click.stop="activeAddNewForm = true">
            Thêm Check-list
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VuePerfectScrollbar from "vue-perfect-scrollbar";
import _clone from "lodash/cloneDeep";
import { v4 as uuid } from "uuid";

export default {
  name: "checklist-form",
  components: {
    VuePerfectScrollbar
  },
  props: {
    value: { type: Array, default: () => [] }
  },
  computed: {
    checkListLocal: {
      get() {
        return this.value.map(item => ({ ...item, id: item.id || item._id }));
      },
      set(val) {}
    },
    doneSubTask: {
      set(val) {
        if (val.length == 0) {
          const items = _clone(this.checkListLocal);
          items.splice(0, 1, {
            ...items[0],
            isDone: !items[0].isDone
          });
          this.$emit("input", items);
        } else {
          const index = this.checkListLocal.findIndex(
            subTask => subTask.id == val[val.length - 1]
          );

          const items = _clone(this.checkListLocal);
          items.splice(index, 1, {
            ...items[index],
            isDone: !items[index].isDone
          });
          this.$emit("input", items);
        }
      },
      get() {
        return this.checkListLocal
          .filter(subTask => subTask.isDone == true)
          .map(item => item.id);
      }
    }
  },
  data() {
    return {
      completedCheckListLocal: [],
      subTaskLocal: "",
      selected: null,
      activeManageTool: true,
      settings: {
        // perfectscrollbar settings
        maxScrollbarLength: 60,
        wheelSpeed: 0.6
      },
      activeAddNewForm: false
    };
  },
  methods: {
    onEnterEditSubTask(text) {
      if (text.trim() == "") return;

      const index = this.checkListLocal.findIndex(
        subTask => subTask.id === this.selected.id
      );

      const items = _clone(this.checkListLocal);

      items.splice(index, 1, { ...items[index], name: text });

      this.$emit("input", items);

      this.selected = null;
    },
    onClickAddNewSubTask(text) {
      if (text.trim() == "") return;

      // this id will not be submited
      var model = { id: uuid(), name: text, isDone: false };

      const items = [...this.checkListLocal, model];

      this.$emit("input", items);

      this.activeAddNewForm = false;
    },
    onClickDeleteSubTask(item) {
      const index = this.checkListLocal.findIndex(
        subTask => subTask.id === item.id
      );

      const items = _clone(this.checkListLocal);
      items.splice(index, 1);

      this.$emit("input", items);

      this.selected = null;
    }
  }
};
</script>
