<template>
  <div id="duedate-selection-dropdown">
    <vs-dropdown vs-custom-content vs-trigger-click class="w-full ">
      <div class="w-full flex flex-row p-5 justify-between cursor-pointer">
        <div class="flex">
          <feather-icon
            icon="CalendarIcon"
            :svgClasses="['stoke-current text-muted']"
            class="pr-2"
          />
          <p
            class="text-muted mt ml-2"
            style="font-family: 'Montserrat', Helvetica, Arial, sans-serif !important;"
          >
            Ngày đến hạn
          </p>
        </div>
        <feather-icon
          icon="ChevronDownIcon"
          :svgClasses="['stoke-current text-dark']"
          class="w-5 h-5"
          @click.stop
        />
      </div>

      <vs-dropdown-menu
        style="z-index: 200006; width: 450px !important; top: 56px; padding-right: 10px;"
      >
        <div class="w-full p-5">
          <div class="text-center">NGÀY</div>

          <vs-divider />

          <!-- Preview Calendar -->
          <div class="w-1/2 ml-8">
            <flat-pickr
              v-model="rangeDate"
              class="form-control hidden"
              :config="{ mode: 'range', inline: true }"
            />
          </div>
          <!-- /Preview Calendar -->

          <!-- Start Date -->
          <div class="w-full mt-5">
            <small class="date-label">Ngày bắt đầu</small>
            <div class="flex items-center">
              <vs-checkbox v-model="activeStartDate" />
              <datepicker
                calendar-class="fixed-calendar"
                style="width: 150px;"
                class="mr-5"
                placeholder="Chọn ngày"
                :language="langVi"
                :disabled="!activeStartDate"
                :disabledDates="disabledDatesFrom"
                name="start-date"
                v-model="startDate"
              ></datepicker>
              <div class="w-1/2" />
            </div>
          </div>
          <!-- /Start Date -->

          <!-- Due Date (End Date) -->
          <div class="w-full mt-5">
            <small class="date-label">Ngày đến hạn</small>
            <div class="flex items-center">
              <vs-checkbox v-model="activeEndDate" />
              <datepicker
                calendar-class="fixed-calendar"
                class="mr-5"
                :style="{ width: activeEndDate ? '250px' : '150px' }"
                placeholder="Chọn ngày"
                :language="langVi"
                :disabled="!activeEndDate"
                :disabledDates="disabledDatesTo"
                name="end-date"
                v-model="endDate"
              ></datepicker>
              <flat-pickr
                v-if="activeEndDate"
                v-model="timePicker"
                class="form-control hidden"
                :config="{
                  enableTime: true,
                  noCalendar: true,
                  inline: true,
                  dateFormat: 'H:i'
                }"
              />
            </div>
          </div>
          <!-- /Due Date (End Date) -->
        </div>
      </vs-dropdown-menu>
    </vs-dropdown>
  </div>
</template>

<script>
import "flatpickr/dist/flatpickr.css";
import Datepicker from "vuejs-datepicker";
import { vi } from "vuejs-datepicker/src/locale";
import { formatTextDate } from "../../../core/utils/date";
import _clone from "lodash/cloneDeep";

export default {
  components: {
    Datepicker
  },
  props: {
    start: { type: Date, default: null },
    due: { type: Date, default: null }
  },
  computed: {
    startDate: {
      get() {
        return this.start;
      },
      set(val) {
        if (this.isLoadingRange) return;
        this.$emit("input", { field: "startDate", text: val.toISOString() });
      }
    },
    endDate: {
      get() {
        return this.due;
      },
      set(val) {
        if (this.isLoadingRange) return;
        this.$emit("input", { field: "dueDate", text: val.toISOString() });
      }
    },
    timePicker: {
      get() {
        return this.due;
      },
      set(val) {
        if (this.isLoadingRange || !val || val == "") return;

        this.isLoadingRange = true;

        const items = val.split(":");
        const hours = items[0];
        const minutes = items[1];

        const newDue = _clone(this.due);
        newDue.setHours(hours);
        newDue.setMinutes(minutes);

        this.$emit("input", { field: "dueDate", text: newDue.toISOString() });

        setTimeout(() => {
          this.isLoadingRange = false;
        }, 3000);
      }
    },
    rangeDate: {
      get() {
        // Ex: 2021-06-07 to 2021-06-24
        if (this.start && this.due) {
          const range =
            formatTextDate(this.start, "YYYY-MM-DD") +
            " to " +
            formatTextDate(this.due, "YYYY-MM-DD");
          return range;
        } else {
          return null;
        }
      },
      set(val) {
        this.isLoadingRange = true;

        if (!val || val == "") return;

        const items = val.split(" to ");

        if (items.length < 2) {
          const from = new Date(val);
          this.$emit("input", { field: "startDate", text: from.toISOString() });
        } else {
          const to = new Date(items[1]);
          this.$emit("input", { field: "dueDate", text: to.toISOString() });
        }

        setTimeout(() => {
          this.isLoadingRange = false;
        }, 3000);
      }
    },
    disabledDatesTo() {
      return { to: new Date(this.startDate) };
    },
    disabledDatesFrom() {
      return { from: new Date(this.endDate) };
    }
  },
  watch: {
    start(val) {
      if (val) this.activeStartDate = true;
    },
    due(val) {
      if (val) this.activeEndDate = true;
    },
    activeStartDate(val) {
      if (this.isLoadingRange) return;

      if (val == true) {
        this.$emit("input", {
          field: "startDate",
          text: new Date().toISOString()
        });
      } else {
        this.$emit("input", { field: "startDate", text: "" });
      }
    },
    activeEndDate(val) {
      if (this.isLoadingRange) return;
      if (val == true) {
        this.$emit("input", {
          field: "dueDate",
          text: new Date().toISOString()
        });
      } else {
        // Remove Start Date because startDate is active while dueDate is active
        // this.activeStartDate = false;
        // this.$emit("input", { field: "startDate", text: null });

        this.$emit("input", { field: "dueDate", text: "" });
      }
    }
  },
  data() {
    return {
      activeStartDate: this.start != null,
      activeEndDate: this.due != null,
      langVi: vi,
      isLoadingRange: false
    };
  }
};
</script>

<style lang="scss">
.fixed-calendar {
  bottom: 40px;
}
.vs-dropdown-menu {
  .vs-dropdown--menu--after {
    visibility: hidden !important;
  }
}
.flatpickr-calendar.open {
  z-index: 2000001;
}

.flatpickr-calendar {
  box-shadow: none !important;
}
</style>
