<!-- =========================================================================================
    File Name: ForgotPassword.vue
    Description: Forgot Password Page
========================================================================================== -->

<template>
  <div class="h-screen flex w-full bg-img">
    <div
      class="vx-col w-4/5 sm:w-4/5 md:w-3/5 lg:w-3/4 xl:w-3/5 mx-auto self-center"
    >
      <vx-card>
        <div slot="no-body" class="full-page-bg-color">
          <div class="vx-row">
            <!-- Image -->
            <div
              class="vx-col hidden sm:hidden md:hidden lg:block lg:w-1/2 mx-auto self-center"
            >
              <img
                src="@/assets/images/pages/forgot-password.png"
                alt="login"
                class="mx-auto"
              />
            </div>

            <div
              class="vx-col sm:w-full md:w-full lg:w-1/2 mx-auto self-center d-theme-dark-bg"
            >
              <div class="p-8">
                <div class="vx-card__title mb-8">
                  <!-- Title -->
                  <h4 class="mb-4">Khôi phục tài khoản</h4>
                  <!-- Subtitle -->
                  <p>
                    Vui lòng nhập địa chỉ email của bạn và chúng tôi sẽ gửi cho
                    bạn hướng dẫn về cách đặt lại mật khẩu.
                  </p>
                </div>

                <!-- Email -->
                <vs-input
                  v-validate="'required|email'"
                  data-vv-validate-on="blur"
                  name="email"
                  label-placeholder="Email"
                  v-model="model.email"
                  class="w-full"
                />
                <span
                  class="text-danger text-sm"
                  v-show="errors.has('email')"
                  >{{ errors.first("email") }}</span
                >

                <!-- Login Button -->
                <div class="mt-8">
                  <vs-button
                    type="border"
                    to="/pages/login"
                    class="px-4 w-full md:w-auto"
                  >
                    <div class="inline-flex items-center">
                      <feather-icon
                        icon="ChevronsLeftIcon"
                        svgClasses="h-4 w-4 mr-1"
                      ></feather-icon
                      ><span>Đăng nhập</span>
                    </div>
                  </vs-button>

                  <!-- Recover Button -->
                  <vs-button
                    class="float-right px-4 w-full md:w-auto mt-3 mb-8 md:mt-0 md:mb-0"
                    :disabled="!validateForm"
                    @click="requestVerificationCode"
                    >Khôi phục</vs-button
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
import { Validator } from "vee-validate";

import AuthenService from "../../services/AuthenService";

/* <CUSTOM ERROR MESSAGE> */
const dict = {
  custom: {
    email: {
      required: "Vui lòng nhập email của bạn",
      email: "Email phải là một email hợp lệ"
    }
  }
};
Validator.localize("vi", dict); // register custom messages
/* <CUSTOM ERROR MESSAGE> */

export default {
  data() {
    return {
      model: {
        email: ""
      }
    };
  },

  computed: {
    validateForm() {
      return !this.errors.any() && this.model.email != "";
    }
  },

  methods: {
    async checkExistEmail() {
      this.$globalBusyOn();

      try {
        await AuthenService.checkExistEmail(this.model);

        return true;
      } catch (error) {
        this.$error({ message: error.message });
      } finally {
        this.$globalBusyOff();
      }

      return false;
    },
    async requestVerificationCode() {
      var isValid = await this.checkExistEmail;

      if (!isValid) return;

      this.$globalBusyOn();

      try {
        const res = await AuthenService.requestVerificationCode(this.model);

        this.$success(res.message);

        this.$router
          .push({ name: "page-verification-code", params: this.model })
          .catch(() => {});
      } catch (error) {
        this.$error(error.message);
      } finally {
        this.$globalBusyOff();
      }
    }
  }
};
</script>
