<template>
  <div id="db-chart-info" class="flex flex-col w-1/2">
    <div class="w-full flex flex-row justify-between">
      <vs-dropdown vs-custom-content vs-trigger-click class="cursor-pointer">
        <a class="flex items-center h3 db-font" href="#">
          <!-- <feather-icon
            icon="CheckCircleIcon"
            :svgClasses="['w-10', 'h-10 mr-4']"
          /> -->
          Thống kê
          <!-- <i class="material-icons"> expand_more </i> -->
        </a>
      </vs-dropdown>
      <!-- <feather-icon
        class="cursor-pointer"
        icon="FilterIcon"
        svgClasses="text-white"
        @click="function() {}"
      /> -->
    </div>

    <div class="mt-5 flex items-baseline">
      <h1 class="text-white db-long-font mr-5">{{ info.completedTasks }}</h1>
      <h6 class="text-white font-sm">/{{ info.weeklyTotal }}</h6>
    </div>
    <div class="w-full">
      <vue-apex-charts
        type="line"
        height="200"
        :options="lineChartSimple.chartOptions"
        :series="lineChartSimple.series"
      ></vue-apex-charts>
    </div>
  </div>
</template>

<script>
import VueApexCharts from "vue-apexcharts";

export default {
  components: { VueApexCharts },
  props: {
    info: { type: Object, default: () => ({}) }
  },
  data() {
    return {
      themeColors: ["#7367F0", "#28C76F", "#EA5455", "#FF9F43", "#1E1E1E"],
      lineChartSimple: {
        series: [
          {
            name: "Đã hoàn thành",
            data: this.info.chartSeries // [8, 3, 5, 5, 2, 1, 3]
          }
        ],
        chartOptions: {
          chart: {
            fontFamily: "Montserrat, Helvetica, Arial, sans-serif",
            height: 350,
            zoom: {
              enabled: false
            }
          },
          colors: ["#FF0000"],
          dataLabels: {
            enabled: false
          },
          markers: {
            colors: ["#F77F1D"]
          },
          stroke: {
            curve: "straight"
          },
          title: {
            text: "7 ngày gần đây",
            align: "left",
            style: {
              fontSize: "14px",
              fontWeight: "bold",
              fontFamily: undefined,
              color: "#FFFFFF"
            }
          },
          grid: {
            show: true,
            borderColor: "#FFFFFF",
            position: "back",
            xaxis: {
              lines: {
                show: true
              }
            },
            yaxis: {
              lines: {
                show: true
              }
            }
          },
          xaxis: {
            categories: this.info.categories,
            labels: {
              show: true,
              style: {
                colors: [
                  "#FFFFFF",
                  "#FFFFFF",
                  "#FFFFFF",
                  "#FFFFFF",
                  "#FFFFFF",
                  "#FFFFFF",
                  "#FFFFFF"
                ],
                fontSize: "14px",
                fontFamily: "Montserrat, Helvetica, Arial, sans-serif",
                fontWeight: 400,
                cssClass: "apexcharts-xaxis-label"
              }
            }
          },
          yaxis: {
            show: false
          }
        }
      }
    };
  }
};
</script>

<style lang="scss">
@import "../../assets/scss/vuexy/_variables.scss";
#db-chart-info {
  margin-top: 5%;

  .db-font {
    color: white !important;
  }
  .db-long-font {
    font-family: "Teko", sans-serif;
    font-size: 6rem;
  }
  .font-sm {
    font-family: "Teko", sans-serif;
    font-size: 2rem;
  }
}
</style>
