<template>
  <div id="db-notification-list" class="flex flex-col w-1/2">
    <div class="w-full flex flex-row justify-between">
      <vs-dropdown vs-custom-content vs-trigger-click class="cursor-pointer">
        <a class="flex items-center h3 db-font" href="#">
          <feather-icon icon="BellIcon" :svgClasses="['w-10', 'h-10 mr-4']" />
          Thông báo
          <i class="material-icons"> expand_more </i>
        </a>
        <vs-dropdown-menu>
          <BaseSwitchTile
            class="p-2"
            title="Show all"
            :value="showAllData"
            leadingIcon="EyeIcon"
            color="success"
            @change="onChangeShowAll"
          />
        </vs-dropdown-menu>
      </vs-dropdown>
      <feather-icon
        class="cursor-pointer"
        icon="FilterIcon"
        svgClasses="text-white"
        @click="function() {}"
      />
    </div>
    <div class="w-full mt-6">
      <VuePerfectScrollbar
        ref="mainSidebarPs"
        class="scroll-area--nofications-dropdown py-4"
        :settings="settings"
        :key="$vs.rtl"
      >
        <ul>
          <li
            v-for="(ntf, index) in unreadNotifications"
            :key="ntf.index + index"
            class="flex justify-between px-4 m-0 notification cursor-pointer"
          >
            <div class="flex items-start w-full">
              <feather-icon
                :icon="ntf.icon"
                :svgClasses="[
                  `text-${ntf.category}`,
                  'stroke-current mr-1 h-6 w-6'
                ]"
              ></feather-icon>
              <div class="mx-2 w-full">
                <vx-card class="grid-view-item mb-4 overflow-hidden w-full">
                  <div class="flex flex-row justify-between">
                    <div>
                      <small class="mt-1 whitespace-no-wrap">{{
                        elapsedTime(ntf.time)
                      }}</small>
                      <div
                        class="font-medium block notification-title"
                        :class="[`text-${ntf.category}`]"
                      >
                        {{ ntf.title }}
                      </div>
                      <small>{{ ntf.msg }}</small>
                    </div>
                    <img
                      v-if="ntf.image"
                      :src="ntf.image"
                      alt="latest-upload"
                      class="rounded mb-4 ml-2 ntf-image responsive"
                    />
                  </div>
                </vx-card>
              </div>
            </div>
          </li>
        </ul>
      </VuePerfectScrollbar>
    </div>
  </div>
</template>

<script>
import VuePerfectScrollbar from "vue-perfect-scrollbar";
import BaseSwitchTile from "../../components/form-elements/BaseSwitchTile";

export default {
  components: {
    VuePerfectScrollbar,
    BaseSwitchTile
  },
  props: {
    notifications: { type: Array, default: () => [] }
  },
  data() {
    return {
      showAllData: true,
      unreadNotifications: this.notifications,
      settings: {
        maxScrollbarLength: 60,
        wheelSpeed: 0.6
      }
    };
  },
  methods: {
    onChangeShowAll(value) {
      this.showAllData = value;
    },
    elapsedTime(startTime) {
      let x = new Date(startTime);
      let now = new Date();
      var timeDiff = now - x;
      timeDiff /= 1000;

      var seconds = Math.round(timeDiff);
      timeDiff = Math.floor(timeDiff / 60);

      var minutes = Math.round(timeDiff % 60);
      timeDiff = Math.floor(timeDiff / 60);

      var hours = Math.round(timeDiff % 24);
      timeDiff = Math.floor(timeDiff / 24);

      var days = Math.round(timeDiff % 365);
      timeDiff = Math.floor(timeDiff / 365);

      var years = timeDiff;

      if (years > 0) {
        return years + (years > 1 ? " Năm " : " Năm ") + "trước";
      } else if (days > 0) {
        return days + (days > 1 ? " Ngày " : " Ngày ") + "trước";
      } else if (hours > 0) {
        return hours + (hours > 1 ? " Giờ " : " Giờ ") + "trước";
      } else if (minutes > 0) {
        return minutes + (minutes > 1 ? " Phút " : " Phút ") + "trước";
      } else if (seconds > 0) {
        return seconds + (seconds > 1 ? " giây trước" : "ngay bây giờ");
      }

      return "Ngay Bây Giờ";
    },
    // Method for creating dummy notification time
    randomDate({ hr, min, sec }) {
      let date = new Date();

      if (hr) date.setHours(date.getHours() - hr);
      if (min) date.setMinutes(date.getMinutes() - min);
      if (sec) date.setSeconds(date.getSeconds() - sec);

      return date;
    }
  }
};
</script>

<style lang="scss">
#db-notification-list {
  margin-top: 5%;

  .db-font {
    color: white !important;
  }

  .grid-view-item {
    width: 100%;
    .grid-view-img {
      max-width: 100%;
      max-height: fit-content;
      width: auto;
      transition: 0.35s;
    }

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);

      .grid-view-img {
      }
    }
  }

  .scroll-area--nofications-dropdown,
  .scroll-area--cart-items-dropdowm {
    max-height: 32rem;
  }

  .ntf-image {
    margin-left: 0.04rem;
    min-width: 50px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.01);
    }
  }
}
</style>
