<template>
  <div>
    <template v-for="(item, index) in items">
      <template>
        <div :key="`header-${index}`">
          <v-nav-menu-item
            :icon="item.icon"
            :featherIcon="item.featherIcon"
            :textIcon="item.textIcon"
            :iconColor="item.color"
            :to="item.slug !== 'external' ? item.url : null"
            :href="item.slug === 'external' ? item.url : null"
            :slug="item.slug"
          >
            <span class="truncate">
              {{ item.name }}
            </span>
          </v-nav-menu-item>
          <div v-if="activeManageTool" class="action-container">
            <vs-button
              radius
              type="flat"
              color="primary"
              icon-pack="feather"
              icon="icon-edit"
              size="small"
              @click="$emit('edit', item.info)"
            />
            <vs-button
              radius
              type="flat"
              color="danger"
              icon-pack="feather"
              icon="icon-trash-2"
              size="small"
              @click="$emit('delete', item.info)"
            />
          </div>
        </div>
      </template>
    </template>

    <!-- Button Add New -->
    <slot />
    <!-- /Button Add New -->
  </div>
</template>

<script>
import VNavMenuItem from "./VerticalNavMenuItem.vue";

export default {
  name: "ver-nav-menu-tab",

  components: {
    VNavMenuItem
  },

  props: {
    items: { type: Array, default: () => [] },
    activeManageTool: { type: Boolean, default: false }
  }
};
</script>

<style lang="scss">
@import "@/assets/scss/vuexy/components/verticalNavMenu.scss";
</style>
