<template>
  <div>
    <form @submit.prevent>
      <!-- Enter Label Name -->
      <vs-input
        v-validate="'required'"
        :name="`label`"
        label-placeholder="Tên thẻ"
        v-model="value.name"
        class="w-full mb-4 mt-5"
        :color="isValid ? 'success' : 'danger'"
        @input="updateData('name', $event)"
      />
      <!-- /Enter Label Name -->

      <!-- Select Color -->
      <ColorSelectionDropdown
        :selectedColorId="value.color"
        @onSelectColor="updateData('color', $event)"
      />
      <!-- /Select Color -->

      <!-- Add to favorites -->
      <div class="flex py-5">
        <vs-switch
          class="mr-2"
          v-model="value.isFavorite"
          @input="updateData('isFavorite', $event)"
        />
        <label for="">Thêm vào mục yêu thích</label>
      </div>
      <!-- /Add to favorites -->
    </form>
  </div>
</template>

<script>
import ColorSelectionDropdown from "../../components/form-elements/ColorSelectionDropdown.vue";
import VuePerfectScrollbar from "vue-perfect-scrollbar";

export default {
  name: "label-form",
  components: {
    VuePerfectScrollbar,
    ColorSelectionDropdown
  },
  props: {
    value: { type: Object, default: () => ({}) },
    isValid: { type: Boolean, default: true }
  },
  methods: {
    updateData(field, text) {
      const newData = { ...this.value, [field]: text };
      this.$emit("input", newData);
    }
  }
};
</script>
