<template>
  <div>
    <h5>Đáng chú ý</h5>
    <div :class="[' mt-4', { 'vx-row': !vertical }]">
      <div v-for="(el, index) in cols" :key="index" class="vx-col w-1/2 mb-3">
        <p>{{ el.name }}: {{ el.tasks }}</p>
        <vs-progress
          class="block mt-1"
          :percent="el.percent"
          :color="el.color"
        ></vs-progress>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    vertical: { type: Boolean, default: false },
    chartData: { type: Object, default: () => ({}) }
  },
  computed: {
    cols() {
      return this.chartData.columns;
    }
  }
};
</script>
