<template>
  <div :class="[{ 'vx-row': !vertical }]">
    <div class="vx-col lg:w-1/2 xl:w-1/2 sm:w-full md:w-full">
      <VueApexCharts
        class="mt-6 mb-8"
        type="donut"
        height="230"
        :options="chartOptions"
        :series="chartSeries"
      />
    </div>
    <div class="vx-col lg:w-1/2 xl:w-1/2 sm:w-full md:w-full">
      <div v-for="(el, index) in cols" :key="index" class="mb-3">
        <ActivityLegend
          class="mt-2"
          :label="el.name"
          :value="el.tasks"
          :color="el.color"
        />
      </div>
    </div>
  </div>
</template>

<script>
import VueApexCharts from "vue-apexcharts";
import ActivityLegend from "./ActivityLegend";

export default {
  components: {
    VueApexCharts,
    ActivityLegend
  },
  props: {
    analyticsData: { type: Object, default: () => ({}) },
    chartData: { type: Object, default: () => ({}) },
    vertical: { type: Boolean, default: false }
  },
  computed: {
    cols() {
      return this.chartData.columns;
    },
    chartSeries() {
      let series = [];
      this.chartData.columns.forEach(item => {
        series.push(item.tasks);
      });
      return series;
    },
    chartLabels() {
      let items = [];
      this.chartData.columns.forEach(item => {
        items.push(item.name);
      });
      return items;
    },
    chartColors() {
      let items = [];
      this.chartData.columns.forEach(item => {
        items.push(item.color);
      });
      return items;
    }
  },
  data() {
    return {
      chartOptions: null
    };
  },
  created() {
    // assign chart options
    this.chartOptions = Object.assign(
      {},
      this.analyticsData.classifiedCompletionStatisticsDonut.chartOptions
    );

    this.chartOptions["labels"] = this.chartLabels;
    this.chartOptions["colors"] = this.chartColors;
  }
};
</script>
