<template>
  <div id="congrats-section">
    <vx-card slot="no-body" class="text-center bg-primary-gradient greet-user">
      <img
        src="@/assets/images/elements/decore-left.png"
        class="decore-left"
        alt="Decore Left"
        width="200"
      />
      <img
        src="@/assets/images/elements/decore-right.png"
        class="decore-right"
        alt="Decore Right"
        width="175"
      />
      <feather-icon
        icon="AwardIcon"
        class="p-6 mb-8 bg-primary inline-flex rounded-full text-white shadow"
        svgClasses="h-8 w-8"
      ></feather-icon>
      <div>
        <div v-if="completedRate > 0">
          <h1 class="mb-6 text-white">
            Chúc mừng {{ this.activeUserInfo.displayName.split(" ")[0] }},
          </h1>
          <p class="xl:w-3/4 lg:w-4/5 md:w-2/3 w-4/5 mx-auto text-white">
            Bạn đã hoàn thành
            <strong>{{ completedRate.toFixed(0) }}%</strong>
            nhiệm vụ {{ periodName(tabId) }}. Kiểm tra huy hiệu mới trong hồ sơ
            của bạn.
          </p>
        </div>
        <div v-else>
          <h1 class="mb-6 text-white">
            Cố lên {{ this.activeUserInfo.displayName.split(" ")[0] }} ơi!
          </h1>
          <p class="xl:w-3/4 lg:w-4/5 md:w-2/3 w-4/5 mx-auto text-white">
            Hãy năng suất hơn nữa nhé. Sự nỗ lực luôn được đền đáp xứng đáng.
            <strong>Totodo</strong> luôn ở bên bạn.
          </p>
        </div>
      </div>
    </vx-card>
  </div>
</template>

<script>
export default {
  props: {
    completedRate: Number,
    tabId: String
  },
  computed: {
    activeUserInfo() {
      return this.$store.state.AppActiveUser;
    },
    periodName() {
      return tabId => {
        const indexes = {
          all: "",
          day: "hôm nay",
          week: "tuần này",
          month: "tháng này",
          year: "năm nay"
        };
        return indexes[tabId] || "";
      };
    }
  }
};
</script>

<style lang="scss">
.greet-user {
  position: relative;

  .decore-left {
    position: absolute;
    left: 0;
    top: 0;
  }
  .decore-right {
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media (max-width: 576px) {
  .decore-left,
  .decore-right {
    width: 140px;
  }
}
</style>
