<template>
  <div id="loading-bg">
    <div class="loading-logo">
      <img src="@/assets/images/logo/logo.png" alt="Logo" />
    </div>
    <div class="loading">
      <div class="effect-1 effects"></div>
      <div class="effect-2 effects"></div>
      <div class="effect-3 effects"></div>
    </div>
  </div>
</template>

<script>
import AuthenService from "../services/AuthenService";

export default {
  created() {
    this.activateAccount(this.$route.params.data);
  },

  methods: {
    async activateAccount(token) {
      try {
        const res = await AuthenService.activateAccount(token);

        this.$success(res.message);

        this.$router.push("/pages/login").catch(() => {});
      } catch (error) {
        this.$error(error.message);

        this.$router.push("/pages/register").catch(() => {});
      }
    }
  }
};
</script>

<style lang="scss">
@import "../assets/css/loader.css";
</style>
