<template>
  <div
    id="habit-app"
    class="border border-solid d-theme-border-grey-light rounded relative overflow-hidden"
  >
    <vs-sidebar
      class="items-no-padding"
      parent="#habit-app"
      :click-not-close="clickNotClose"
      :hidden-background="clickNotClose"
      v-model="isHabitSidebarActive"
      id="habit-list-sidebar"
    >
      <HabitAddNew
        class="habit-form-container"
        :innerWidth="600"
        :active="activeHabitAddNew"
        @close="closeFormSidebar"
      />

      <HabitEdit
        :habit="selectedHabit"
        class="habit-form-container"
        :innerWidth="600"
        :active="activeHabitEdit"
        @close="closeFormSidebar"
      />

      <div class="habit__profile-search flex p-4">
        <div class="relative inline-flex w-full">
          <!-- Create Button -->
          <vs-button
            radius
            style="padding: 20px;!impotant"
            color="primary"
            type="filled"
            icon-pack="feather"
            icon="icon-plus"
            @click="showFormSidebar(null, true)"
          ></vs-button>

          <!-- Search Bar -->
          <vs-input
            icon-no-border
            icon="icon-search"
            icon-pack="feather"
            class="w-full mx-5 input-rounded-full"
            placeholder="Tìm kiếm thói quen"
            v-model="searchQuery"
          />

          <!-- Toggle Habit Left SideBar -->
          <feather-icon
            class="md:inline-flex lg:hidden -ml-3 cursor-pointer"
            icon="XIcon"
            @click="toggleHabitSidebar(false)"
          />
        </div>
      </div>

      <vs-divider class="d-theme-border-grey-light m-0" />

      <VuePerfectScrollbar
        class="habit-scroll-area pt-4"
        :settings="settings"
        :key="$vs.rtl"
      >
        <!-- Habit ListView -->
        <div class="habit__habits-list mb-8">
          <ul class="habit__active-habits bordered-items">
            <li
              class="cursor-pointer"
              v-for="(habit, index) in habitList"
              :key="index"
              @click="onSelectHabit(habit)"
            >
              <HabitListItem :habit="habit" />
            </li>
          </ul>
          <div
            v-if="!habitList.length"
            class="text-center"
            style="margin-top: 100px;"
          >
            <img
              src="@/assets/images/empty/empty.svg"
              alt="graphic-404"
              class="mx-auto mb-4 w-1/3"
            />
            <div>Hãy tạo thói quen đầu tiên của bạn.</div>
          </div>
        </div>
      </VuePerfectScrollbar>
    </vs-sidebar>

    <!-- RIGHT COLUMN -->
    <div
      class="no-scroll-content bg-theme habit-content-area border border-solid d-theme-border-grey-light border-t-0 border-r-0 border-b-0"
      :class="{
        'sidebar-spacer--wide': clickNotClose,
        'flex items-center justify-center': selectedHabit === null,
        habit__bg: !selectedHabit
      }"
      :style="{
        backgroundColor: selectedHabit ? selectedHabit.images.imgBg : `none`
      }"
    >
      <template v-if="selectedHabit">
        <div class="habit__navbar">
          <!-- RESPONSIVE -->
          <HabitNavbar
            v-if="!clickNotClose"
            :habitId="selectedHabitId"
            :isSidebarCollapsed="!clickNotClose"
            @openContactsSidebar="toggleHabitSidebar(true)"
          />
        </div>
        <VuePerfectScrollbar
          class="habit-content-scroll-area border border-solid d-theme-border-grey-light"
          :settings="settings"
          ref="habitLogPS"
          :key="$vs.rtl"
        >
          <!-- Step 1: Habit Profile -->
          <HabitProfile
            v-if="!activeStatistics"
            :selectedHabit="selectedHabit"
            @goToStatistics="activeStatistics = true"
            @onClickEdit="onClickEdit"
            @onClickDelete="onClickDelete"
          />
          <!-- Step 2: Habit Statistics -->
          <HabitStatistics
            v-else
            :selectedHabit="selectedHabit"
            @close="activeStatistics = false"
          />
        </VuePerfectScrollbar>
      </template>
      <template v-else>
        <!-- Start Screen -->
        <div class="flex flex-col items-center">
          <feather-icon
            icon="CoffeeIcon"
            class="mb-4 bg-white p-8 shadow-md rounded-full"
            svgClasses="w-16 h-16"
          ></feather-icon>
          <h4
            class=" py-2 px-4 bg-white shadow-md rounded-full cursor-pointer"
            @click.stop="showFormSidebar(null, true)"
          >
            Bắt đầu 1 thói quen
          </h4>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import VuePerfectScrollbar from "vue-perfect-scrollbar";
import HabitAddNew from "../presentations/habit/HabitAddNew";
import HabitEdit from "../presentations/habit/HabitEdit";
import HabitListItem from "../presentations/habit/components/HabitListItem";
import HabitNavbar from "../presentations/habit/components/HabitNavbar";
import HabitProfile from "../presentations/habit/HabitProfile";
import HabitStatistics from "../presentations/habit/HabitStatistics";

export default {
  components: {
    VuePerfectScrollbar,
    HabitAddNew,
    HabitEdit,
    HabitListItem,
    HabitNavbar,
    HabitProfile,
    HabitStatistics
  },

  data() {
    return {
      // Habit Sidebar contains habit list, search box, add new btn
      isHabitSidebarActive: true,
      clickNotClose: true,

      // Habit Form Sidebar to create and edit habit item
      activeHabitAddNew: false,
      activeHabitEdit: false,

      // Habit Statistic
      activeStatistics: false,

      // Selected Item
      selectedHabit: null,
      selectedHabitId: "",

      // Check Action is Create or Edit
      isCreateAction: false,

      // Scroll Bar Settings
      settings: {
        maxScrollbarLength: 60,
        wheelSpeed: 0.7
      },

      // Config layout
      wasSidebarOpen: null
    };
  },

  watch: {
    windowWidth() {
      this.setSidebarWidth();
    }
  },

  computed: {
    habitList() {
      // console.log(
      //   "[HABIT] ..habitList:",
      //   this.$store.getters["habit/queriedHabits"]
      // );
      return this.$store.getters["habit/queriedHabits"];
    },
    windowWidth() {
      return this.$store.state.windowWidth;
    },
    searchQuery: {
      get() {
        return this.$store.state.habit.habitSearchQuery;
      },
      set(val) {
        this.$store.dispatch("habit/setHabitSearchQuery", val);
      }
    }
  },

  created() {
    let filter = this.$route.params.filter;

    // Fetch Habits
    this.$store.dispatch("habit/fetchHabits", { filter: filter });

    this.$store.commit("habit/UPDATE_HABIT_FILTER", filter);
  },

  methods: {
    onSelectHabit(habit) {
      // Reset UI
      this.activeStatistics = false;
      // Selected Item
      this.selectedHabit = habit;
      this.selectedHabitId = habit._id;
    },

    onClickEdit(item) {
      console.log("item =", item);
      this.showFormSidebar(item);
    },

    async onClickDelete(item) {
      const yes = await this.$confirm({
        text: "Bạn có chắc chắn muốn thói quen này không?"
      });
      if (!yes) return;

      const payload = {
        habitId: item._id,
        notify: this.$vs.notify
      };

      this.$validator.validateAll().then(async result => {
        if (result) {
          this.$store.dispatch("habit/deleteHabit", Object.assign({}, payload));

          // Fetch Habits
          this.$store.dispatch("habit/fetchHabits", {});
        }
      });
    },

    closeFormSidebar(value) {
      this.activeHabitAddNew = value;
      this.activeHabitEdit = value;
    },

    showFormSidebar(habit, openOnLeft = false) {
      // TODO
      if (habit) {
        this.selectedHabit = habit;
        this.activeHabitEdit = true;
      } else {
        this.isCreateAction = true;
        this.activeHabitAddNew = true;
      }
    },

    setSidebarWidth() {
      if (this.windowWidth < 1200) {
        this.isHabitSidebarActive = this.clickNotClose = false;
      } else {
        // Hide habit sidebar
        this.isHabitSidebarActive = this.clickNotClose = true;
      }
    },

    toggleHabitSidebar(value = false) {
      if (!value && this.clickNotClose) return;
      this.isHabitSidebarActive = value;
    }
  },

  mounted() {
    this.wasSidebarOpen = this.$store.state.reduceButton;
    this.$store.commit("TOGGLE_REDUCE_BUTTON", true);

    this.$store.dispatch("habit/setHabitSearchQuery", "");
  },

  beforeDestroy() {
    if (!this.wasSidebarOpen) this.$store.commit("TOGGLE_REDUCE_BUTTON", false);
  }
};
</script>

<style lang="scss">
@import "@/assets/scss/vuexy/apps/habit.scss";
</style>
