<template>
  <div id="simple-calendar-app">
    <div class="vx-card no-scroll-content">
      <calendar-view
        ref="calendar"
        :display-period-uom="calendarView"
        :display-period-count="displayPeriodCount"
        :starting-day-of-week="startingDayOfWeek.id"
        :display-week-numbers="false"
        :show-times="true"
        :time-format-options="{ hour: 'numeric', minute: '2-digit' }"
        :show-date="showDate"
        :events="simpleCalendarEvents"
        enable-drag-drop
        :disable-past="false"
        :disable-future="false"
        :period-changed-callback="periodChanged"
        :current-period-label="useTodayIcons ? 'icons' : ''"
        :enable-date-selection="true"
        :selection-start="selectionStart"
        :selection-end="selectionEnd"
        :event-top="windowWidth <= 400 ? '2rem' : '3rem'"
        locale="vi"
        event-border-height="0px"
        event-content-height="1.65rem"
        class="theme-default holiday-us-traditional holiday-us-official"
        @click-date="onClickAddNew"
        @click-event="onClickEdit"
        @drop-on-date="eventDragged"
        @click-item="onClickItem"
        @date-selection-start="setSelection"
        @date-selection="setSelection"
        @date-selection-finish="finishSelection"
      >
        <div slot="header" class="mb-4">
          <div class="vx-row no-gutter">
            <!-- Month Name -->
            <div class="vx-col w-1/3 items-center sm:flex hidden">
              <!-- Add new event button -->
              <vs-button
                icon-pack="feather"
                icon="icon-plus"
                @click="onClickAddNew()"
                >Thêm</vs-button
              >
            </div>
            <!-- /Month Name -->

            <!-- Current Month -->
            <div
              class="vx-col flex sm:w-1/3 w-full sm:my-0 my-3 flex sm:justify-end justify-center items-center order-last"
            >
              <!-- Go Back Today Button -->
              <vs-button
                icon="first_page"
                class="mr-4"
                color="rgb(62, 201, 214)"
                type="filled"
                size="small"
                @click="showDate = new Date()"
                >Hôm nay</vs-button
              >
              <!-- /Go Back Today Button -->

              <div class="flex items-center">
                <feather-icon
                  :icon="$vs.rtl ? 'ChevronRightIcon' : 'ChevronLeftIcon'"
                  @click="updateMonth(-1)"
                  svgClasses="w-5 h-5 m-1"
                  class="cursor-pointer bg-primary text-white rounded-full"
                />

                <span class="mx-3 text-xl font-medium whitespace-no-wrap">{{
                  showDate | month
                }}</span>

                <feather-icon
                  :icon="$vs.rtl ? 'ChevronLeftIcon' : 'ChevronRightIcon'"
                  @click="updateMonth(1)"
                  svgClasses="w-5 h-5 m-1"
                  class="cursor-pointer bg-primary text-white rounded-full"
                />
              </div>
            </div>
            <!-- /Current Month -->

            <!-- Calendar View Type Selections -->
            <div
              class="vx-col sm:w-1/3 w-full flex 
            "
            >
              <template v-for="(view, index) in calendarViewTypes">
                <vs-button
                  v-if="calendarView === view.val"
                  :key="String(view.val) + 'filled'"
                  type="filled"
                  class="p-3 md:px-8 md:py-3"
                  :class="{
                    'border-l-0 rounded-l-none': index,
                    'rounded-r-none': calendarViewTypes.length !== index + 1
                  }"
                  @click="calendarView = view.val"
                  >{{ view.label }}</vs-button
                >
                <vs-button
                  v-else
                  :key="String(view.val) + 'border'"
                  type="border"
                  class="p-3 md:px-8 md:py-3"
                  :class="{
                    'border-l-0 rounded-l-none': index,
                    'rounded-r-none': calendarViewTypes.length !== index + 1
                  }"
                  @click="calendarView = view.val"
                  >{{ view.label }}</vs-button
                >
              </template>
            </div>
          </div>
          <!-- /Calendar View Type Selections -->

          <div class="vx-row sm:flex hidden mt-4">
            <div class="vx-col w-full flex">
              <!-- Labels -->
              <div class="flex flex-wrap sm:justify-start justify-center">
                <div
                  v-for="(label, index) in calendarLabels"
                  :key="index"
                  class="flex items-center mr-4 mb-2"
                >
                  <div
                    class="h-3 w-3 inline-block rounded-full mr-2"
                    :style="'background-color:' + labelColor(label)"
                  ></div>
                  <span>{{ labelName(label) }}</span>
                </div>
                <div class="flex items-center mr-4 mb-2">
                  <div
                    class="h-3 w-3 inline-block rounded-full mr-2 bg-primary"
                  ></div>
                  <span>None</span>
                </div>
              </div>
            </div>
          </div>

          <div class=" text-right">
            <vs-dropdown vs-custom-content vs-trigger-click>
              <feather-icon
                icon="SettingsIcon"
                svgClasses="w-5 h-5 text-grey"
                href.prevent
              />

              <vs-dropdown-menu
                style="z-index: 200001; width: 330px !important;"
              >
                <div class="p-5">
                  <div class="h4 font-bold flex items-center">
                    <feather-icon
                      icon="SettingsIcon"
                      svgClasses="w-8 h-8 text-grey mr-3"
                    />
                    Tùy chỉnh
                  </div>

                  <div class="mt-5 w-full flex justify-between">
                    <div class="mr-4 mt-2">
                      Số lượng (Lịch Tuần)
                    </div>
                    <vs-input-number
                      :min="1"
                      :max="3"
                      v-model="displayPeriodCount"
                    />
                  </div>

                  <div class="mt-5 w-full flex justify-between">
                    <div class="mr-4 mt-2">
                      Ngày đầu tuần
                    </div>

                    <v-select
                      v-model="startingDayOfWeek"
                      :options="startingDayOfWeek_choices"
                    />
                  </div>

                  <!-- <div class="mt-5 w-full flex justify-between">
                    <div class="mr-4 mt-2">
                      Hiển thị số tuần
                    </div>

                    <vs-switch v-model="showWeekNumbers" />
                  </div> -->

                  <!-- <div class="mt-5 w-full flex justify-between">
                    <div class="mr-4 mt-2">
                      Hiển thị thời gian
                    </div>

                    <vs-switch v-model="showTimes" />
                  </div> -->
                </div>
              </vs-dropdown-menu>
            </vs-dropdown>
          </div>
        </div>
      </calendar-view>
    </div>
  </div>
</template>

<script>
import { CalendarView, CalendarViewHeader } from "vue-simple-calendar";
import moduleCalendar from "@/store/calendar/moduleCalendar.js";
require("vue-simple-calendar/static/css/default.css");

import Datepicker from "vuejs-datepicker";
// import { en, he, vi } from "vuejs-datepicker/src/locale";
import "vue-simple-calendar/static/css/holidays-us.css";
import TodoAddNew from "../presentations/todo/TodoAddNew.vue";
import { convertSelectList } from "../core/utils/list";
import { DayEnums } from "../constants/enums";
import { todoLabelColor } from "../core/utils/color";
import { toVietnameseName, removeInvalidChars } from "../core/utils/string";
import { getDayOfToday, isBeforeDay } from "../core/utils/date";
import TodoEdit from "../presentations/todo/TodoEdit.vue";

export default {
  components: {
    CalendarView,
    CalendarViewHeader,
    Datepicker
  },
  data() {
    const daysOfWeek = convertSelectList(DayEnums);

    return {
      // langHe: he,
      // langEn: en,
      // langVi: vi,

      displayPeriodCount: 1,
      calendarView: "week",
      showDate: new Date(),
      selectionStart: null,
      selectionEnd: null,
      useTodayIcons: false,
      startingDayOfWeek: getDayOfToday() || daysOfWeek[0], // id is 0 that match Sunday
      startingDayOfWeek_choices: daysOfWeek,

      calendarViewTypes: [
        {
          label: "Tuần",
          val: "week"
        },
        {
          label: "Tháng",
          val: "month"
        },
        {
          label: "Năm",
          val: "year"
        }
      ]
    };
  },
  computed: {
    simpleCalendarEvents() {
      return this.$store.getters["todo/queriedTasks"].map(item => ({
        id: item._id,
        title: item.name,
        startDate:
          item.startDate && item.startDate != ""
            ? new Date(item.startDate)
            : isBeforeDay(new Date(item.createdAt), new Date(item.dueDate))
            ? new Date(item.createdAt)
            : new Date(item.dueDate),
        endDate: new Date(item.dueDate),
        url: "",
        classes: item.isCompleted ? "task-status" : "",
        style:
          "background-color: " +
          todoLabelColor(item.project.color).color +
          "; opacity: 0.6;"
      }));
    },
    calendarLabels() {
      return this.$store.state.todo.taskProjects;
    },
    labelColor() {
      return label => {
        return todoLabelColor(label.color).color;
      };
    },
    labelName() {
      return label => {
        return removeInvalidChars(label.name);
      };
    },
    windowWidth() {
      return this.$store.state.windowWidth;
    }
  },
  methods: {
    onClickAddNew(date) {
      const info = date ? { initial: { dueDate: date.toISOString() } } : {};
      this.$showModal(TodoAddNew, info, { width: 650 });
    },
    onClickEdit(task) {
      const taskLocal = this.$store.getters["todo/getTask"](task.id);

      if (taskLocal) {
        this.$showModal(TodoEdit, { info: taskLocal }, { width: 650 });
      }
    },
    updateMonth(val) {
      this.showDate = this.$refs.calendar.getIncrementedPeriod(val);
    },
    eventDragged(task, date) {},
    periodChanged() {},
    onClickItem(e) {},
    setSelection(dateRange) {},
    finishSelection(dateRange) {}
  },
  created() {
    let filter = this.$route.params.filter || "all";
    this.$store.dispatch("todo/fetchTasks", { filter: filter });
    this.$store.commit("todo/UPDATE_TODO_FILTER", filter);
    this.$store.registerModule("calendar", moduleCalendar);
    this.$store.dispatch("todo/fetchProjects");
    this.$store.dispatch("todo/fetchTags");
    this.$store.dispatch("todo/fetchProjects");
  },
  beforeDestroy() {
    this.$store.unregisterModule("calendar");
  }
};
</script>

<style lang="scss">
@import "@/assets/scss/vuexy/apps/simple-calendar.scss";

#simple-calendar-app {
  .task-status:before {
    font-family: "feather" !important;
    content: "\e840";
    margin-right: 2px;
  }
}
</style>
