<!-- =========================================================================================
    File Name: Todo.vue
    Description: Todo Application to keep you ahead of time
========================================================================================== -->

<template>
  <div id="todo-app">
    <!-- <div class="flex w-full">
      <div class="vx-col w-full sm:w-1/6 ml-auto flex sm:justify-end">
        <div class="px-6 pb-2 pt-6">
          component on top left
        </div>
      </div>
    </div> -->

    <div
      class="border border-solid d-theme-border-grey-light rounded relative overflow-hidden"
    >
      <div
        class="no-scroll-content border border-r-0 border-b-0 border-t-0 border-solid d-theme-border-grey-light no-scroll-content"
      >
        <div
          class="flex d-theme-dark-bg items-center border border-l-0 border-r-0 border-t-0 border-solid d-theme-border-grey-light"
        >
          <vs-button icon="add" class="mx-4 my-3" @click="onClickAddNew()"
            >Thêm</vs-button
          >
          <!-- SEARCH BAR -->
          <vs-input
            icon-no-border
            size="large"
            icon-pack="feather"
            icon="icon-search"
            placeholder="Search..."
            v-model="searchQuery"
            class="vs-input-no-border vs-input-no-shdow-focus w-full"
          />
        </div>

        <!-- TODO LIST -->
        <VuePerfectScrollbar
          class="todo-content-scroll-area"
          :settings="settings"
          ref="taskListPS"
          :key="$vs.rtl"
        >
          <transition-group
            class="todo-list"
            name="list-enter-up"
            tag="ul"
            v-if="taskList.length != 0"
            appear
          >
            <li
              class="cursor-pointer todo_todo-item"
              v-for="(task, index) in taskList"
              :key="String(currFilter) + String(task._id)"
              :style="[{ transitionDelay: index * 0.1 + 's' }]"
            >
              <TodoTask
                :taskId="task._id"
                @edit="onClickEdit"
                :key="String(task.name) + String(task._id)"
              />
              <!--
                Note: Remove "todo-task" component's key just concat lastUpdated field in li key list.
                e.g. <li class="..." v-for="..." :key="String(currFilter) + String(task.id) + String(task.lastUpdated)" .. >
              -->
            </li>
          </transition-group>

          <div v-else class="text-center py-10">
            <img
              src="@/assets/images/empty/empty.svg"
              alt="graphic-404"
              class="mx-auto mb-4 w-1/3"
            />
            <div>
              Hãy tạo nhiệm vụ đầu tiên của bạn.
            </div>
          </div>
        </VuePerfectScrollbar>
        <!-- /TODO LIST -->
      </div>
    </div>
  </div>
</template>

<script>
import TodoAddNew from "../presentations/todo/TodoAddNew.vue";
import TodoTask from "../presentations/todo/TodoTask.vue";
import TodoEdit from "../presentations/todo/TodoEdit.vue";
import VuePerfectScrollbar from "vue-perfect-scrollbar";

export default {
  data() {
    return {
      currFilter: "",
      settings: {
        maxScrollbarLength: 60,
        wheelSpeed: 0.3
      }
    };
  },
  watch: {
    todoFilter() {
      this.$refs.taskListPS.$el.scrollTop = 0;

      // Fetch Tasks
      let filter = this.$route.params.filter;

      this.$store.dispatch("todo/fetchTasks", {});
      // this.$store.dispatch("todo/fetchTasks", { filter: filter });

      this.$store.commit("todo/UPDATE_TODO_FILTER", filter);

      // Because filter feature is not supported by backend => manually in following line:
      this.$store.getters["todo/queriedTasks"];
    }
  },
  computed: {
    todoFilter() {
      return this.$route.params.filter;
    },
    taskList() {
      return this.$store.getters["todo/queriedTasks"];
    },
    searchQuery: {
      get() {
        return this.$store.state.todo.todoSearchQuery;
      },
      set(val) {
        this.$store.dispatch("todo/setTodoSearchQuery", val);
      }
    }
  },
  methods: {
    async onClickAddNew() {
      try {
        await this.$showModal(TodoAddNew, {}, { width: 650 });
      } catch (error) {
        console.log(error);
      }
    },
    async onClickEdit(item) {
      // console.log("[TODO] item =", item);
      try {
        await this.$showModal(TodoEdit, { info: item }, { width: 650 });
      } catch (error) {
        console.log(error);
      }
    }
  },
  components: {
    TodoAddNew,
    TodoTask,
    TodoEdit,
    VuePerfectScrollbar
  },
  created() {
    let filter = this.$route.params.filter;

    // Fetch Tasks
    this.$store.dispatch("todo/fetchTasks", { filter: filter });

    this.$store.commit("todo/UPDATE_TODO_FILTER", filter);

    // Because filter feature is not supported by backend => manually in following line:
    this.$store.getters["todo/queriedTasks"];

    // Fetch Tags
    this.$store.dispatch("todo/fetchTags");

    // Fetch Project
    this.$store.dispatch("todo/fetchProjects");
  },
  beforeUpdate() {
    this.currFilter = this.$route.params.filter;
  },
  mounted() {
    this.$store.dispatch("todo/setTodoSearchQuery", "");
  }
};
</script>

<style lang="scss">
@import "@/assets/scss/vuexy/apps/todo.scss";
</style>
