<template>
  <div id="habit-profile">
    <div class="text-right mt-3 mx-6">
      <HabitActionDropdown
        :selectedHabit="selectedHabit"
        @onClickEdit="$emit('onClickEdit', $event)"
        @onClickDelete="$emit('onClickDelete', $event)"
      />
    </div>
    <div class="flex flex-col items-center">
      <img
        :src="
          isCompleted
            ? getAssetImage(selectedHabit.images.imgUnCheckIn)
            : getAssetImage(selectedHabit.images.imgCheckIn)
        "
        alt="graphic-404"
        class="mx-auto mb-4 mt-3 w-1/4"
      />
      <h3 class=" py-2 px-4 text-white">
        {{ selectedHabit.name }}
      </h3>
      <small class="text-white">{{ selectedHabit.motivation.content }}</small>
      <h4
        class="mt-3 py-2 px-4 bg-white shadow-md rounded-full cursor-pointer"
        @click.stop="onClickCheckin"
      >
        Hoàn thành
      </h4>
      <vs-progress class="mt-3 w-1/3" :height="12" :percent="progressPercent"
        >success
      </vs-progress>
      <small class="mt-4 text-white"
        >{{ totalCheckIns }}/{{ this.selectedHabit.missionDayTarget }}
        {{
          parseInt(this.selectedHabit.missionDayUnit) | textMissionDayUnitEnum
        }}</small
      >

      <h4
        class="mt-4 py-2 px-4 rounded-full text-white cursor-pointer flex"
        style="background-color: rgba(0, 0, 0, 0.1)"
        @click.stop="$emit('goToStatistics')"
      >
        Xem thống kê
        <feather-icon
          class="ml-3"
          icon="ChevronsRightIcon"
          svgClasses="h-7 w-7 text-white"
        />
      </h4>
    </div>
  </div>
</template>

<script>
import HabitLog from "./HabitLog";
import HabitManualCheckin from "./HabitManualCheckin";
import HabitActionDropdown from "./components/HabitActionDropdown";
import { now, isSameDay } from "../../core/utils/date";
import { getAssetImage } from "../../core/utils/image";

export default {
  components: {
    HabitLog,
    HabitActionDropdown
  },

  props: {
    selectedHabit: { type: Object, require: true }
  },

  data() {
    return {
      isCompleted: false
    };
  },

  computed: {
    getAssetImage() {
      return data => {
        return getAssetImage(data);
      };
    },
    totalCheckIns() {
      let total = 0;
      (this.selectedHabit.habitProgress || []).forEach(log => {
        if (isSameDay(log.date, Date(now()))) {
          total += log.current;
        }
      });
      return total;
    },

    progressPercent() {
      return (this.totalCheckIns / this.selectedHabit.missionDayTarget) * 100;
    }

    //  progress() {
    //    const items = this.selectedHabit.habitProgress || [];
    //
    //    const isCurrDay = function(a) {
    //      const daysDifferent = moment(new Date(a).toUTCString()).diff(
    //        new Date().toUTCString(),
    //        "days"
    //      );
    //
    //      return daysDifferent == 0;
    //    };
    //
    //    return items.find(i => isCurrDay(i.date));
    //  }
  },

  methods: {
    onSendDiary() {},

    async onClickCheckin() {
      this.isCompleted = true;

      let count = 0;
      const isManualCheckin = this.selectedHabit.missionDayCheckInStep == 0;

      if (isManualCheckin) {
        count = await this.$showModal(HabitManualCheckin, {
          unit: parseInt(this.selectedHabit.missionDayUnit)
        });

        if (!count || count == "") return;
      }

      this.checkin(isManualCheckin, count);
    },

    checkin(isManualCheckin, count) {
      const payload = {
        habitId: this.selectedHabit._id,
        count: isManualCheckin ? count : null,
        date: new Date().toISOString(),
        notify: this.$vs.notify,
        callback: this.selectedHabit.isSaveDiary
          ? () => {
              this.$showModal(HabitLog, { habit: this.selectedHabit }, {});
            }
          : null
      };

      this.$validator.validateAll().then(result => {
        if (result) {
          this.$store
            .dispatch("habit/checkin", Object.assign({}, payload))
            .catch(error => {
              this.$error({ message: error.message });
            });
        }
      });
    }
  }
};
</script>
