<template>
  <vs-sidebar
    click-not-close
    position-right
    parent="body"
    default-index="1"
    color="primary"
    class="data-sidebar items-no-padding"
    spacer
    v-model="isSidebarActiveLocal"
    :style="cssProps"
  >
    <div class="mt-6 flex items-center justify-between px-6">
      <slot name="sidebar-header" />
      <feather-icon
        icon="XIcon"
        @click.stop="isSidebarActiveLocal = false"
        class="cursor-pointer"
      ></feather-icon>
    </div>
    <vs-divider class="mb-0"></vs-divider>

    <VuePerfectScrollbar
      class="scroll-area--data-list-add-new"
      :settings="settings"
      :key="$vs.rtl"
      ref="formPS"
    >
      <slot name="no-body" />
    </VuePerfectScrollbar>

    <div
      class="flex flex-wrap items-center p-6"
      v-if="this.$slots.sidebarFooter"
    >
      <slot name="sidebar-footer" />
    </div>
  </vs-sidebar>
</template>

<script>
import VuePerfectScrollbar from "vue-perfect-scrollbar";

export default {
  name: "form-sidebar",

  components: {
    VuePerfectScrollbar
  },

  props: {
    isSidebarActive: {
      type: Boolean,
      required: true
    },
    data: {
      type: Object,
      default: () => {}
    },
    innerWidth: {
      type: Number,
      default: 400.0
    },
    notifier: {
      type: Number,
      default: 0,
      description:
        "[When using vue-form-wizard] Fix missed content between steps because scrollbar caused"
    }
  },

  watch: {
    notifier() {
      this.$refs.formPS.$el.scrollTop = 0;
    }
  },

  data() {
    return {
      settings: {
        // perfectscrollbar settings
        maxScrollbarLength: 60,
        wheelSpeed: 0.6
      }
    };
  },

  computed: {
    isSidebarActiveLocal: {
      get() {
        return this.isSidebarActive;
      },
      set(val) {
        if (!val) {
          this.$emit("closeSidebar");
        }
      }
    },

    cssProps() {
      return {
        "--inner-width": this.innerWidth + "px",
        "--sb-height": this.$slots.footer
          ? "calc(var(--vh, 1vh) * 100 - 16px - 45px - 82px)"
          : "calc(var(--vh, 1vh) * 100 - 16px - 45px)"
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: var(--inner-width);
    max-width: 90vw;
  }
}

.scroll-area--data-list-add-new {
  // height: calc(var(--vh, 1vh) * 100 - 4.3rem);
  height: var(--sb-height);
}
</style>
