<template>
  <vs-dropdown vs-trigger-click class="cursor-pointer">
    <small class="flex cursor-pointer">
      <feather-icon icon="MoreHorizontalIcon"></feather-icon>
    </small>
    <vs-dropdown-menu class="w-32">
      <vs-dropdown-item @click="$emit('onClickDelete', selectedDiary)">
        Xóa
      </vs-dropdown-item>
    </vs-dropdown-menu>
  </vs-dropdown>
</template>

<script>
export default {
  name: "diary-action-dropdown",
  props: {
    selectedDiary: { type: Object, default: () => ({}) }
  }
};
</script>
