<template>
  <div>
    <!-- Email -->
    <vs-input
      v-validate="'required|email|min:3'"
      data-vv-validate-on="blur"
      name="email"
      icon-no-border
      icon="icon icon-user"
      icon-pack="feather"
      label-placeholder="Email"
      v-model="email"
      class="w-full"
    />
    <span class="text-danger text-sm" v-show="errors.has('email')">
      {{ errors.first("email") }}</span
    >

    <!-- Password -->
    <vs-input
      data-vv-validate-on="blur"
      v-validate="'required|min:6|max:24'"
      type="password"
      name="password"
      icon-no-border
      icon="icon icon-lock"
      icon-pack="feather"
      label-placeholder="Mật khẩu"
      v-model="password"
      class="w-full mt-8"
    />
    <span class="text-danger text-sm" v-show="errors.has('password')">{{
      errors.first("password")
    }}</span>

    <div class="flex flex-wrap justify-between my-5">
      <!-- Remember Me -->
      <vs-checkbox v-model="checkbox_remember_me" class="mb-3"
        >Ghi nhớ đăng nhập</vs-checkbox
      >
      <!-- Forgot Pasword -->
      <router-link to="/pages/forgot-password">Quên mật khẩu?</router-link>
    </div>

    <!-- Login Button -->
    <div class="flex flex-wrap justify-between mb-3">
      <vs-button type="border" @click="registerUser">Đăng ký</vs-button>
      <vs-button :disabled="!validateForm" @click="loginJWT"
        >Đăng nhập</vs-button
      >
    </div>

    <vs-divider>Hoặc</vs-divider>

    <div
      class="social-login-buttons flex flex-wrap justify-center items-center mt-4"
    >
      <!-- Login with Facebook -->
      <div
        class="bg-facebook pt-3 pb-2 px-4 rounded-lg cursor-pointer mr-4"
        @click="loginWithFacebook"
      >
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fab"
          data-icon="facebook-f"
          class="text-white h-4 w-4 svg-inline--fa fa-facebook-f fa-w-9"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 264 512"
        >
          <path
            fill="currentColor"
            d="M215.8 85H264V3.6C255.7 2.5 227.1 0 193.8 0 124.3 0 76.7 42.4 76.7 120.3V192H0v91h76.7v229h94V283h73.6l11.7-91h-85.3v-62.7c0-26.3 7.3-44.3 45.1-44.3z"
          ></path>
        </svg>
      </div>

      <!-- Login with Google -->
      <div
        class="bg-google pt-3 pb-2 px-4 rounded-lg cursor-pointer mr-4"
        @click="loginWithGoogle"
      >
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fab"
          data-icon="google"
          class="text-white h-4 w-4 svg-inline--fa fa-google fa-w-16"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 488 512"
        >
          <path
            fill="currentColor"
            d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</template>

<script>
import { Validator } from "vee-validate";

/* <CUSTOM ERROR MESSAGE> */
const dict = {
  custom: {
    email: {
      required: "Vui lòng nhập email của bạn",
      email: "Email phải là một email hợp lệ"
    },
    password: {
      required: "Vui lòng nhập mật khẩu của bạn",
      min: "Mật khẩu phải có ít nhất 6 ký tự",
      max: "Mật khẩu không được lớn hơn 24 ký tự"
    }
  }
};
Validator.localize("vi", dict); // register custom messages
/* </CUSTOM ERROR MESSAGE> */

export default {
  data() {
    return {
      checkbox_remember_me: localStorage.getItem("savedAccount") != null,
      email:
        this.$store.state.AppSavedAccount.email ||
        process.env.VUE_APP_ENV_LOGIN_EMAIL, // If using fake api => [admin@admin.com | pass: adminadmin]
      password:
        this.$store.state.AppSavedAccount.password ||
        process.env.VUE_APP_ENV_LOGIN_PASSWORD
    };
  },
  computed: {
    validateForm() {
      return !this.errors.any() && this.email != "" && this.password != "";
    }
  },
  methods: {
    checkLogin() {
      // If user is already logged in notify
      if (this.$store.state.auth.isUserLoggedIn()) {
        this.$warning({
          message: "You are already logged in!",
          title: "Login Attempt"
        });
        return false;
      }
      return true;
    },

    async loginJWT() {
      if (!this.checkLogin()) return;

      this.$globalBusyOn();

      const payload = {
        userDetails: {
          email: this.email,
          password: this.password
        },
        checkbox_remember_me: this.checkbox_remember_me
      };

      try {
        await this.$store.dispatch("auth/loginJWT", payload);
      } catch (error) {
        this.$error({ message: error.message });
      } finally {
        this.$globalBusyOff();
      }
    },

    async loginWithGoogle() {
      if (!this.checkLogin()) return;

      this.$globalBusyOn();

      try {
        await this.$store.dispatch("auth/loginWithGoogle");
      } catch (error) {
        this.$error({ message: error.message });
      } finally {
        this.$globalBusyOff();
      }
    },

    async loginWithFacebook() {
      if (!this.checkLogin()) return;

      this.$globalBusyOn();

      try {
        await this.$store.dispatch("auth/loginWithFacebook");
      } catch (error) {
        this.$error({ message: error.message });
      } finally {
        this.$globalBusyOff();
      }
    },

    registerUser() {
      if (!this.checkLogin()) return;

      this.$router.push("/pages/register").catch(() => {});
    }
  }
};
</script>

<style lang="scss">
#page-login {
  .social-login-buttons {
    .bg-facebook {
      background-color: #1551b1;
    }
    .bg-google {
      background-color: #e04a32;
    }
  }
}
</style>
