<!-- =========================================================================================
    File Name: TodoAddNew.vue
    Description: Add new todo component
========================================================================================== -->

<template>
  <div id="todo-add-new">
    <TodoForm v-model="taskLocal" :isValid="validateForm" />
    <div class="modal-footer mt-4">
      <vs-button color="primary" type="filled" @click="onSave">Lưu</vs-button>
      <vs-button color="primary" type="border" @click="$emit('close')">
        Hủy bỏ
      </vs-button>
    </div>
  </div>
</template>

<script>
import _clone from "lodash/cloneDeep";
import TodoForm from "./TodoForm";

export default {
  name: "todo-add-new",
  props: { initial: { type: Object, default: () => ({}) } },
  components: {
    TodoForm
  },
  data() {
    return {
      taskLocal: {
        projectId: "",
        sectionId: "",
        labelIds: [],
        priority: 3,
        name: "",
        description: "",
        point: 0,
        isMember: false,
        isStarred: false,
        isImportant: false,
        isTrashed: false,
        isCompleted: false,
        completedDate: "",
        startDate: this.initial.startDate || "",
        dueDate: this.initial.dueDate || "",
        crontabSchedule: "",
        preciseSchedules: [],
        checkList: [],
        attachmentInfos: []
      }
    };
  },
  computed: {
    validateForm() {
      return !this.errors.any() && this.taskLocal.name != "";
    }
  },
  methods: {
    onSave() {
      this.addTodo();
    },
    addTodo() {
      if (!this.taskLocal.projectId || this.taskLocal.projectId == "") {
        return this.$alert({ text: "Bạn chưa chọn dự án!", btnClose: "OK" });
      }

      const payload = {
        task: this.taskLocal,
        notify: this.$vs.notify,
        callback: () => {
          this.$emit("close");
        }
      };

      this.$validator.validateAll().then(result => {
        if (result) {
          this.$store.dispatch("todo/addTask", Object.assign({}, payload));
          // this.clearFields();
          // this.$emit("close");
        }
      });
    }
  }
};
</script>
