<!-- =========================================================================================
    File Name: TodoAddNew.vue
    Description: Add new todo component
========================================================================================== -->

<template>
  <div id="todo-edit">
    <TodoForm v-model="taskLocal" :isValid="validateForm" />
    <div class="modal-footer mt-4">
      <vs-button color="primary" type="filled" @click="onSave">Lưu</vs-button>
      <vs-button color="primary" type="border" @click="$emit('close')">
        Hủy bỏ
      </vs-button>
    </div>
  </div>
</template>

<script>
import _clone from "lodash/cloneDeep";
import TodoForm from "./TodoForm";

export default {
  name: "todo-edit",
  components: {
    TodoForm
  },
  props: {
    info: { type: Object, default: () => ({}) }
  },
  data() {
    /* const {
      projectId,
      sectionId,
      labelIds,
      priority,
      name,
      description,
      point,
      isMember,
      isStarred,
      isImportant,
      isTrashed,
      isCompleted,
      completedDate,
      dueDate,
      crontabSchedule,
      preciseSchedules,
      checkList,
      attachmentInfos
    } = this.info; */
    return {
      taskLocal: this.info
    };
  },
  computed: {
    validateForm() {
      return !this.errors.any() && this.taskLocal.name != "";
    }
  },
  methods: {
    onSave() {
      this.updateTodo();
    },
    updateTodo() {
      if (!this.taskLocal.projectId || this.taskLocal.projectId == "") {
        return this.$alert({ text: "Bạn chưa chọn dự án!", btnClose: "OK" });
      }

      const payload = {
        task: this.taskLocal,
        notify: this.$vs.notify,
        callback: () => {
          this.$emit("close");
        }
      };
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$store.dispatch("todo/updateTask", Object.assign({}, payload));
          // this.clearFields();
          // this.$emit("close");
        }
      });
    }
  }
};
</script>
