<template>
  <div>
    <div class="modal-body">
      <div v-html="text" />
      <div v-if="placeholderInput" class="mt-3">
        <base-input
          v-model="txtInput"
          :type="inputType"
          :placeholder="placeholderInput"
        />
        <vs-input :label-placeholder="placeholderInput" v-model="txtInput" />
      </div>
    </div>
    <div class="modal-footer">
      <vs-button @click="$emit('close', false)">
        {{ btnNo }}
      </vs-button>
      <vs-button @click="confirm()">
        {{ btnYes }}
      </vs-button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    text: String,
    placeholderInput: String,
    inputType: {
      type: String,
      default: "text"
    },
    btnYes: {
      type: String,
      default: "Yes"
    },
    btnNo: {
      type: String,
      default: "No"
    }
  },
  data() {
    return {
      txtInput: ""
    };
  },
  methods: {
    confirm() {
      if (this.placeholderInput) {
        this.$emit("close", { text: this.txtInput });
      } else {
        this.$emit("close", true);
      }
    }
  }
};
</script>
