<template>
  <div class="ttd-img-upload">
    <!-- Selected Images -->
    <div class="flex">
      <div
        v-for="(img, index) in dataImgs"
        :key="index"
        @mouseover="active = true"
        @mouseout="active = false"
      >
        <i
          class="absolute vs-icon material-icons bg-white p-1 rounded-full shadow-md cursor-pointer"
          @click="removeImage(index)"
        >
          close
        </i>
        <img
          class="responsive rounded shadow m-2 uploaded-photo"
          :src="img"
          alt="photo"
        />
      </div>
    </div>

    <!-- Upload Button -->
    <div class="ttd-input-upload" @click="$refs.uploadImgInput.click()">
      <input
        type="file"
        class="hidden"
        multiple
        ref="uploadImgInput"
        @change="updateCurrImg"
        accept="image/*"
      />
      <span class="text-input">Tải lên ảnh</span>
    </div>

    <label class="text-truncate mt-5">
      <b>{{ this.value.length }}</b>
      ảnh được chọn</label
    >
  </div>
</template>

<script>
export default {
  props: {
    value: {},
    multiple: Boolean
  },
  data() {
    return {
      dataImgs: this.value || []
    };
  },
  methods: {
    updateCurrImg(e) {
      const files = e.target.files;
      if (files && files[0]) {
        var reader = new FileReader();
        reader.onload = e => {
          const list = this.value.slice();
          files.forEach(file => list.push(file));
          this.$emit("input", list);

          this.dataImgs.push(e.target.result);
        };
        reader.readAsDataURL(files[0]);
      }
    },
    removeImage(index) {
      const list = this.value.slice();
      list.splice(index, 1);
      this.$emit("input", list);

      this.dataImgs.splice(index, 1);
    }
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/vuexy/_variables.scss";

.ttd-img-upload {
  padding: 0.6rem;

  .ttd-input-upload {
    margin: 0;
    height: 2.5rem;
    width: 100%;
    border: 1px dashed rgba(0, 0, 0, 0.1);
    background: #f5f5f5;
    border-radius: 8px;
    transition: all 0.25s ease;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    display: -webkit-box;

    .text-input {
      min-width: 200px;
      display: block;
      text-align: center;
      margin: 0 !important;
      padding: 0 !important;
      width: 100%;
      font-weight: 700;
    }

    &:hover {
      border: 1px dashed $primary !important;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05);
      transform: translate(0, 4px);
    }
  }
}
.uploaded-photo {
  height: 90px;
  width: 90px;
}
</style>
