<template>
  <div class="flex flex-row">
    <slot class="mr-4" name="leading" />
    <feather-icon
      :v-if="leadingIcon"
      svgClasses="mr-2"
      :icon="leadingIcon"
    ></feather-icon>
    <div class="flex flex-col">
      <label v-if="title" class="mr-4">{{ title }}</label>
      <small v-if="subtitle" class="text-muted">{{ subtitle }}</small>
    </div>
    <vs-switch :color="color" v-model="localData" />
  </div>
</template>

<script>
export default {
  props: {
    title: String,
    subtitle: String,
    value: {
      type: Boolean,
      require: true
    },
    color: {
      type: String,
      default: "#5a3cc4"
    },
    leadingIcon: String
  },
  computed: {
    localData: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit("change", val);
      }
    }
  }
};
</script>
