<template>
  <div class="mt-4">
    <label class="vs-input--label">Màu sắc</label>
    <v-select
      v-model="selectedColor"
      :options="options"
      label="label"
      :clearable="false"
    >
      <!-- Option -->
      <template slot="option" slot-scope="option">
        <span
          class="inline-block h-3 w-3 rounded-full mr-2"
          :style="{ background: `${option.color}` }"
        ></span>
        {{ option.label }}
      </template>

      <!-- Selected Option -->
      <template #selected-option="selectedOption">
        <span
          class="inline-block h-3 w-3 rounded-full mr-2"
          :style="{ background: `${selectedOption.color}` }"
        ></span>
        {{ selectedOption.label }}
      </template>
    </v-select>
    <!-- <span class="text-danger text-sm" v-show="errors.has('color')">{{
      errors.first("color")
    }}</span> -->
  </div>
</template>

<script>
import vSelect from "vue-select";
import colorItems from "../../constants/colorItems";
import { todoLabelColor } from "../../core/utils/color";

export default {
  name: "colors-selection-dropdown",
  components: {
    "v-select": vSelect
  },
  props: {
    selectedColorId: {
      type: String,
      default: "berry-red"
    }
  },

  data() {
    return {
      options: colorItems
    };
  },
  computed: {
    selectedColor: {
      get() {
        return todoLabelColor(this.selectedColorId);
      },
      set(color) {
        this.$emit("onSelectColor", color.value);
      }
    }
  }
};
</script>
