<!-- =========================================================================================
    File Name: DividerDefault.vue
    Description: Rendering of default divider
========================================================================================== -->

<template>
  <vx-card title="Default" code-toggler>
    <p>
      You can add a line to divide with the component <code>vs-divider</code>
    </p>

    <div class="op-block mt-5">
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
      sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
      mollit anim id est laborum.
      <vs-divider />
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </div>

    <template slot="codeContainer">
      Ut enim ad minim veniam, quis nostrud....mollit anim id est laborum.
      &lt;vs-divider/&gt; Lorem ipsum dolor sit amet, consectetur adipisicing
      elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </template>
  </vx-card>
</template>
