<template>
  <div id="habit-icon-select">
    <h6 class="mb-2">Biểu tượng</h6>
    <!-- TAB BUTTONS -->
    <ul class="demo-alignment">
      <li class="m-0">
        <vs-avatar
          :class="[
            'm-0 border-3 border-solid border-white',
            {
              'border-3 border-solid border-primary': iconTabIndex == 0
            }
          ]"
          :src="dataIconImage ? icon_choices[dataIconImage - 1] : null"
          size="60px"
          @click="iconTabIndex = 'icon'"
        />
      </li>
      <li class="m-0">
        <vs-avatar
          :class="[
            'm-0 border-3 border-solid border-white',
            {
              'border-3 border-solid border-secondary': iconTabIndex == 'text'
            }
          ]"
          :text="dataIconText != '' ? dataIconText : 'T'"
          :color="dataIconColor != '' ? dataIconColor : 'grey'"
          size="60px"
          @click="iconTabIndex = 'text'"
        />
      </li>
    </ul>
    <!-- /TAB BUTTONS -->

    <!-- TAB 01 CONTENT: SELECT IMAGE ICON -->
    <div v-if="iconTabIndex == 'icon'">
      <vs-divider class="m-0 mt-3"></vs-divider>
      <div class="mt-2 w-full">
        <ul class="demo-alignment">
          <li class="m-0" :key="index" v-for="(el, index) in icon_choices">
            <vs-avatar
              class="m-0 border-3 border-solid"
              :class="
                dataIconImage == index + 1 ? 'border-success' : 'border-white'
              "
              :src="el"
              size="50px"
              @click="onSelectIcon(index)"
            />
          </li>
        </ul>
      </div>
    </div>
    <!-- /TAB 01 CONTENT -->

    <!-- TAB 02 CONTENT: SELECT TEXT ICON -->
    <div v-if="iconTabIndex == 'text'">
      <vs-divider class="mb-0 mt-3"></vs-divider>
      <div class="w-full my-5">
        <ul class="demo-alignment">
          <li>
            <vs-input
              size="small"
              class="inputx"
              placeholder="Nội dung"
              v-model="dataIconText"
              name="item-icon-text"
              v-validate="'required'"
            />
            <span
              class="text-danger text-sm"
              v-show="errors.has('item-icon-text')"
              >{{ errors.first("item-icon-text") }}</span
            >
          </li>
          <li style="align-self: flex-end">
            <label class="vs-input--label">Color</label>
            <input class="ml-4" v-model="dataIconColor" type="color" />
          </li>
        </ul>
      </div>
    </div>
    <!-- /TAB 02 CONTENT -->
  </div>
</template>

<script>
import checkinIconItems from "../../../../constants/checkinIconItems";

export default {
  props: {
    iconColor: { type: String, default: "" },
    iconText: { type: String, default: "" },
    iconImage: { type: Number, default: 0 }
  },
  data() {
    return {
      dataIconColor: this.iconColor,
      dataIconText: this.iconText,
      // dataIconImage: this.iconImage,
      icon_choices: this.getIconItems(),
      // Tab Menu Index
      iconTabIndex: "icon"
    };
  },
  computed: {
    dataIconImage: {
      get() {
        return this.iconImage;
      },
      set(val) {}
    }
  },
  methods: {
    getIconItems() {
      return checkinIconItems;
    },
    onSelectIcon(index) {
      this.dataIconImage = index + 1;
      this.$emit("change", { field: "iconImage", text: index + 1 });
    }
  }
};
</script>
