<template>
  <div id="habit-gallery">
    <vs-tabs>
      <template v-for="(group, index) in habitGroups">
        <vs-tab :label="group.id" :key="index" class="mt-2">
          <template v-for="(habit, idex) in group.list">
            <div
              :key="idex"
              class="py-1 border border-solid border-r-0 border-l-0 border-t-0 d-theme-border-grey-light cursor-pointer hover-bg"
            >
              <div class="flex items-center justify-between">
                <div class="flex">
                  <vs-avatar
                    class="border-3 border-solid border-white  ml-2"
                    :src="habitIcon(habit)"
                    size="40px"
                  />
                  <div class="mx-2">
                    <p class="font-semibold">{{ habit.name }}</p>
                    <small>{{ habit.motivationContent }}</small>
                  </div>
                </div>
                <vs-button
                  type="flat"
                  radius
                  icon-pack="feather"
                  icon="icon-arrow-right"
                  class="mr-2"
                  @click.stop="updateData(habit)"
                />
              </div>
            </div>
          </template>
        </vs-tab>
      </template>
    </vs-tabs>
  </div>
</template>

<script>
import habitGalleryItems from "../helpers/habitGalleryItems";
import habitCheckinColors from "../helpers/habitCheckinColors";
import { getAssetImage } from "../../../../core/utils/image";

export default {
  props: {
    value: { type: Object, default: () => ({}) }
  },
  data() {
    return {
      habitGroups: this.buildHabitGroup()
    };
  },
  computed: {
    habitIcon() {
      return item => {
        return getAssetImage(item.iconImage);
      };
    }
  },
  methods: {
    buildHabitGroup() {
      const tags = ["Đề xuất", "Cuộc sống", "Sức khỏe", "Thể thao", "Tư duy"];

      const groupList = tags.map(tag => {
        return {
          id: tag,
          list: habitGalleryItems.filter(item => item.tags.includes(tag))
        };
      });
      return groupList;
    },
    updateData(item) {
      // console.log("[HABIT GALLERY] ..selected =", item);
      const newValue = {
        ...this.value,
        name: item.name,
        iconImage: item.iconImage,
        imgBgColor: habitCheckinColors[item.imgUnCheckIn] || "#EEEEEE",
        imgUnCheckIn: item.imgUnCheckIn,
        imgCheckIn: item.imgCheckIn,
        remind: item.remind.slice(),
        motivationContent: item.motivationContent,
        missionDayUnit: item.missionDayUnit,
        missionDayCheckInStep: item.missionDayCheckInStep,
        missionDayTarget: item.missionDayTarget
      };
      this.$emit("input", newValue);
      this.$emit("goToNextTab");
    }
  }
};
</script>

<style lang="scss">
#habit-gallery {
  .hover-bg {
    &:hover {
      background-color: #dae1e744;
    }
  }
}
</style>
