<template>
  <div id="habit-quote-select">
    <h6 class="mb-2">Trích dẫn tạo động lực</h6>
    <vs-textarea
      class="mb-10"
      counter="120"
      maxlength="120"
      :counter-danger.sync="counterDanger"
      v-model="dataQuote"
      rows="2"
      @change="$emit('input', $event.target.value)"
    />

    <!-- SOMETHING ELSE -->
    <div>
      <vs-divider class="mb-0"></vs-divider>
      <div class="flex items-center cursor-pointer mt-2" @click="suggestQuote">
        <feather-icon icon="RefreshCwIcon" svgClasses="h-5 w-5" />
        <small class="ml-3">Gợi ý khác</small>
      </div>
    </div>
  </div>
</template>

<script>
import quoteItems from "../helpers/quoteItems";

export default {
  props: { value: { type: String, default: "" } },
  data() {
    return {
      dataQuote: this.value,
      quoteItems: quoteItems,
      // For Generated Quotes
      suggestingIndex: 0,
      // Textarea Setting
      counterDanger: false
    };
  },
  watch: {
    value(val) {
      this.dataQuote = val;
    }
  },
  methods: {
    suggestQuote() {
      for (var i = 0; i < quoteItems.length; i++) {
        this.dataQuote = quoteItems[this.suggestingIndex];
        this.$emit("input", quoteItems[this.suggestingIndex]);

        if (this.suggestingIndex < quoteItems.length) {
          this.suggestingIndex++;
          return;
        }

        this.suggestingIndex = 0;
      }
    }
  }
};
</script>
