<template>
  <div>
    <div class="w-full">
      <label class="vs-input--label">Mức độ thường xuyên</label>
      <ul class="demo-alignment">
        <li
          class="ml-0 mr-2"
          :key="index"
          v-for="(el, index) in frequency_choices"
        >
          <vs-button
            :color="
              frequencyTabIndex == el.id ? 'primary' : 'rgb(185, 179, 248)'
            "
            @click="
              frequencyTabIndex = el.id;
              $emit('change', { field: 'typeFrequency', text: el.id });
            "
            >{{ el.label }}</vs-button
          >
        </li>
      </ul>
    </div>

    <!-- SELECTED DAILY -->
    <div v-if="frequencyTabIndex == 'daily'" class="w-full mt-5">
      <label class="vs-input--label">Chọn ngày</label>
      <ul class="demo-alignment">
        <li class="ml-0 mr-2" :key="index" v-for="(el, index) in day_choices">
          <vs-button
            :color="
              value.dailyDays.includes(el.id) ? 'primary' : 'rgb(185, 179, 248)'
            "
            @click="updateCurrDailyDays(el.id)"
            >{{ el.label }}</vs-button
          >
        </li>
      </ul>
    </div>

    <!-- SELECTED WEEKLY -->
    <div v-if="frequencyTabIndex == 'weekly'" class="w-full mt-5">
      <label class="vs-input--label"
        ><strong>{{ value.weeklyDays }}</strong> ngày vào mỗi tuần</label
      >
      <ul class="demo-alignment">
        <li class="ml-0 mr-2" :key="index" v-for="(item, index) in 6">
          <vs-button
            :color="value.weeklyDays == item ? 'primary' : 'rgb(185, 179, 248)'"
            @click="$emit('change', { field: 'weeklyDays', text: item })"
            >{{ item }}</vs-button
          >
        </li>
      </ul>
    </div>

    <!-- SELECTED INTERVAL -->
    <!-- <div v-if="frequencyTabIndex == 2" class="w-full mt-5">
                <label class="vs-input--label"
                  >Mỗi <strong>{{ dataIntervalDays }}</strong> ngày</label
                >
                <vs-slider :min="2" :max="30" v-model="dataIntervalDays" />
              </div> -->

    <!-- DIVIDER -->
    <vs-divider class="mb-0"></vs-divider>

    <!-- GOAL -->
    <div class="w-full mt-5">
      <label class="vs-input--label">Đặt mục tiêu</label>

      <!-- Đạt 1 lần cho tất cả | Đạt đến số lượng nhất định -->
      <vs-row :vs-w="12" class="mt-5">
        <vs-col :vs-w="12" :key="index" v-for="(el, index) in goal_choices">
          <vs-radio v-model="goal" :vs-value="el.id">{{ el.label }}</vs-radio>
        </vs-col>
      </vs-row>

      <!-- GOAL CUSTOM.. -->
      <div v-if="isActiveGoalCustom(goal)" class="mt-5 w-full">
        <div class="vx-row items-baseline">
          <div class="vx-col md:w-1/5 w-full">
            <p>Mỗi ngày</p>
          </div>
          <div class="vx-col md:w-2/5 w-full">
            <vs-input v-model="value.missionDayTarget" class="w-full mt-5" />
          </div>
          <div class="vx-col md:w-2/5 w-full">
            <v-select
              v-model="missionDayUnit"
              :options="mission_day_unit_choices"
              :dir="$vs.rtl ? 'rtl' : 'ltr'"
              class="w-full mt-5"
            />
          </div>
          <!-- Định nghĩa số lượng hoàn thành cho mỗi lần check in -->
          <div class="vx-col md:w-3/5 w-full">
            <p>Ở mỗi lần hoàn thành nhiệm vụ</p>
          </div>
          <div class="vx-col md:w-2/5 w-full">
            <v-select
              v-model="checkinMethod"
              :options="method_checkIn_choices"
              :dir="$vs.rtl ? 'rtl' : 'ltr'"
              class="w-full mt-5"
            />
          </div>

          <div
            class="vx-col md:w-3/5 w-full"
            v-if="isActiveAuto(checkinMethod)"
          >
            <p>Ghi lại (Đánh dấu)</p>
          </div>
          <div
            class="vx-col md:w-2/5 w-full"
            v-if="isActiveAuto(checkinMethod)"
          >
            <vs-input
              v-model="value.missionDayCheckInStep"
              class="w-full mt-5"
            />
          </div>
        </div>
      </div>
      <vs-divider class="mb-0"></vs-divider>
    </div>

    <!-- REMINDER -->
    <div class="mt-5 w-full">
      <label class="vs-input--label">Nhắc nhở</label>
      <!-- Reminder Results -->
      <ul v-if="sortedReminders(value.remind).length" class="demo-alignment">
        <li>
          <vs-chip
            :key="index"
            v-for="(el, index) in sortedReminders(value.remind)"
            transparent
            closable
            color="#24c1a0"
            close-icon="close"
            @click="removeReminder(index)"
          >
            <span>{{ el | _time(el, true) }}</span>
          </vs-chip>
        </li>
      </ul>
      <!-- Select Reminder -->
      <div class="ttd-time-pickr mt-5">
        <flat-pickr
          :value="currReminder"
          ref="reminderInput"
          class="hidden"
          :config="configdateTimePicker"
          @on-close="updateCurrReminders"
        />
        <vs-button icon="add" @click="openTimePicker" />
      </div>

      <!-- Toggle Habit Log Feature -->
      <div class="flex items-center mt-5">
        <vs-switch
          v-model="value.isSaveDiary"
          @input="$emit('change', { field: 'isSaveDiary', text: $event })"
        />
        <span class="ml-4">Tự động hiển thị nhật ký thói quen</span>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import _clone from "lodash/clone";

import {
  HabitGoalEnums,
  HabitFrequencyEnums,
  HabitDailyDaysEnums,
  HabitMissionDayUnitEnum,
  HabitMissionDayCheckInEnum,
  HabitTypeEnum
} from "../../../../constants/enums";
import { convertSelectList } from "../../../../core/utils/list";

export default {
  components: {},
  props: {
    value: { type: Object, default: () => ({}) }
  },
  computed: {
    missionDayUnit: {
      get() {
        return convertSelectList(HabitMissionDayUnitEnum).find(
          item => item.id == this.value.missionDayUnit
        );
      },
      set(val) {
        this.$emit("change", { field: "missionDayUnit", text: val.id });
      }
    },
    isActiveGoalCustom() {
      return goal => {
        return goal == HabitGoalEnums.ReachACertainAmount.id;
      };
    },
    isActiveAuto() {
      return method => {
        return method.id == HabitMissionDayCheckInEnum.Auto.id;
      };
    },
    sortedReminders() {
      return reminders => {
        const list = _clone(reminders);
        return list.sort((a, b) =>
          moment(a, "hh:mm").isBefore(moment(b, "hh:mm")) ? -1 : 1
        );
      };
    }
  },
  data() {
    return {
      mission_day_checkIn: "",

      frequency_choices: convertSelectList(HabitFrequencyEnums),
      day_choices: convertSelectList(HabitDailyDaysEnums), // ~ HabitDailyDaysEnums
      goal: HabitGoalEnums.ArchiveItAll.id,
      goal_choices: convertSelectList(HabitGoalEnums),
      mission_day_unit_choices: convertSelectList(HabitMissionDayUnitEnum),
      checkinMethod: HabitMissionDayCheckInEnum.Auto,
      method_checkIn_choices: convertSelectList(HabitMissionDayCheckInEnum),
      currReminder: null,

      frequencyTabIndex: "daily",

      // Time Picker Settings
      configdateTimePicker: {
        enableTime: true,
        enableSeconds: false,
        noCalendar: true,
        time_24hr: true,
        dateFormat: "H:i"
      }
    };
  },
  watch: {
    value(val) {
      // console.log("[GOAL] watch =", val);
      if (val.typeFrequency == "weekly" && val.weeklyDays == null) {
        this.$emit("change", { field: "weeklyDays", text: 1 });
        this.$emit("change", { field: "dailyDays", text: [] });
      }
      if (val.typeFrequency == "daily" && val.dailyDays.length == 0) {
        this.$emit("change", {
          field: "dailyDays",
          text: [0, 1, 2, 3, 4, 5, 6]
        });
        this.$emit("change", { field: "weeklyDays", text: null });
      }
    },
    goal(val) {
      // Reset
      this.$emit("input", {
        ...this.value,
        missionDayUnit: 0,
        missionDayCheckInStep: 5,
        missionDayTarget: 1
      });
    }
  },
  methods: {
    updateCurrDailyDays(val) {
      let list = this.value.dailyDays.slice();
      if (list.includes(val)) {
        // Remove Item
        list.splice(list.indexOf(val), 1);
      } else {
        // Add Item
        list = [...list, val];
      }

      this.$emit("change", { field: "dailyDays", text: list });
    },
    updateCurrReminders(selectedDates, dateStr, instance) {
      const formated = moment(new Date(selectedDates)).format("HH:mm");
      if (this.value.remind.includes(moment(selectedDates).format("HH:mm"))) {
        this.$warning({ message: "Đã tồn tại", title: "Không thể thực hiện" });
        return;
      }
      const newList = _clone(this.value.remind);
      this.$emit("change", {
        field: "remind",
        text: [...newList, formated]
      });
    },
    removeReminder(index) {
      const newRemind = this.value.remind.slice();
      newRemind.splice(index, 1);
      this.$emit("change", { field: "remind", text: newRemind });
    },
    openTimePicker() {
      this.$refs.reminderInput.fp.open();
    }
  }
};
</script>
